@font-face {
    font-family: 'tomorrowbold_italic';
    src: url('./tomorrow-bolditalic-webfont.woff2') format('woff2'),
         url('./tomorrow-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}